<h1>Teste técnico BDMG</h1>
<hello></hello>
<br />

<div>Escreva seu código HTML abaixo:</div>
<br />

<form class="example-form" [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label for="cep">CEP</mat-label>
    <input
      matInput
      mask="99999-999"
      type="text"
      class="form-control"
      name="cep"
      id="cep"
      formControlName="cep"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="complemento">Complemento</mat-label>
    <input
      matInput
      mask="separator.2"
      thousandSeparator="."
      type="text"
      class="form-control"
      name="complemento"
      id="complemento"
      formControlName="complemento"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="bairro">bairro</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="bairro"
      id="bairro"
      formControlName="bairro"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="localidade">Localidade</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="localidade"
      id="localidade"
      formControlName="localidade"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="uf">UF</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="uf"
      id="uf"
      formControlName="uf"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="ibge">IBGE</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="ibge"
      id="ibge"
      formControlName="ibge"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="gia">GIA</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="gia"
      id="gia"
      formControlName="gia"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="ddd">DDD</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="ddd"
      id="ddd"
      formControlName="ddd"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="siafi">SIAFI</mat-label>
    <input
      matInput
      type="text"
      class="form-control"
      name="siafi"
      id="siafi"
      formControlName="siafi"
    />
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit">Salvar</button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="retornaUsuarioStorage()"
    >
      Consultar Usuário Salvo
    </button>
  </div>
</form>
